PyGithub
python-dotenv
pandas
pyarrow
boto3
pqdm
optuna
xgboost==1.7.6
scikit-learn
fastapi
uvicorn[standard]
setuptools
prometheus-fastapi-instrumentator
pytest
moto[s3]==4.2.13              
requests
